#about {
    height: 70vh;
    p { color: tan;
        width: 80%;
        margin: auto; }

    display: none;
}

#about h1 {
    color: rgba(255, 255, 255, 0.8);
    margin: 100px 0 0 15%;
    font-size: clamp(40px, 10vw, 70px);
    letter-spacing: 1px;
}







.span1 {
    background-image: linear-gradient(rgba(50, 50, 50), rgba(50, 50, 50));
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 2s ease-out;
}

.active {
    background-size: 100% 100%;
}