
#contacts-container {
    width: 90%;
    max-width: 1100px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

#contacts-heading {
    color: rgba(255, 255, 255, 0.8);
    margin: 100px 0 0 15%;
    font-size: clamp(40px, 10vw, 70px);
}

#sub-heading {
    color: white;
    margin: -10px 0 0 15%;
    font-size: clamp(14px, 2.5vw, 25px); 
}

#icon-container {
    width: 50%;
    min-height: 70px;
    margin: 10px 0 0 15%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5%;
}

.icon-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.icon {
    width: clamp(20px, 3vw, 30px);
    height: clamp(20px, 3vw, 30px);
}

#email-div {
    margin-left: 15%;
    margin-top: 60px;
    p { font-size: clamp(14px, 3vw, 20px); }
}

.email {
    color: white;
    a { text-decoration: none;
        color: white; }
}


@media screen and (max-width: 600px) {
    #sub-heading, #contacts-heading, #email-div, #icon-container {
        margin-left: 10%;
    }
}

@media screen and (max-width: 500px) {
    #sub-heading {
        line-height: 17px;
    }
}

@media screen and (max-width: 450px) {
    #icon-container {
        flex-wrap: wrap;
        gap: 15px;
    }
}