header {
    color: #fff;
    height: 80px;
    z-index: 1;
    position: absolute;
    top: 1.5%;
    left: 50%;
    transform: translateX(-50%);
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

header ul li {
    padding: 0 15px;
}

header ul li button {
    color: #fff;
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: clamp(14px, 1.5vw, 20px);
    font-family: 'Courier New', Courier, monospace;
}