

#bg-image {
    background: url(../images/heaven-small.webp);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    z-index: -2;

    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    opacity: 60%;
}

#hero {
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5%;
    position: relative;
}

#hero-content {
    font-family: "Tulpen One", sans-serif;
    display: flex;
    flex-direction: column;
}


#time {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 20vw;
    height: 10vh;
    margin-left: 50vw;
    font-family: "Bodoni Moda", serif;
}

#clock {
    font-size: 70px;
}

#month {
    font-size: 25px;
    padding-bottom: 4px;
}

#time-right {
    line-height: 18px;
    font-family: "Bodoni Moda", serif;
}


.font1 {
    font-family: "Bodoni Moda", serif;
    text-transform: uppercase;
}
#creative {
    font-size: 25px;
    font-family: "Bodoni Moda", serif;
}
#designer {
    font-size: 80px;
    display: flex;
    flex-direction: row;
    margin-top: -60px;
    
    p {
        font-size: 30px;
        align-self: center;
        padding-top: 80px;
        padding-left: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}
#developer {
    font-size: 80px;
    margin-top: -130px;
}
#hero-about {
    font-family: "Bodoni Moda", serif;
    width: 60vw;
    max-width: 500px;
    position: absolute;
    top: 80%;
    right: 10%;
    margin-top: -70px;
}


#arrow-div {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
}

#hero-arrow {
    width: 100%;
    height: 100%;
}

#arrowBtn {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.arrow {
    animation: arrow 2s infinite ease;
}

@keyframes arrow {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

#hero-image-div {
    width: 30vw;
    img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 500px) {
    #designer {
        font-size: 60px;
        margin-top: -50px;
        p {
            padding-top: 55px;
            padding-left: 15px;
        }
    }
    #developer {
        font-size: 60px;
        margin-top: -100px;
    }
    #time {
        margin-left: 40vw;
    }
    #hero-about {
        width: 70vw;
        margin-top: -100px;
        font-size: 16px;
    }
}


@media screen and (min-width: 800px) {
    #designer {
        font-size: 90px;
        margin-top: -70px;
        p {
            padding-top: 100px;
            padding-left: 30px;
        }
    }
    #developer {
        font-size: 90px;
        margin-top: -140px;
    }
    #hero-about {
        font-size: 20px;
    }


    #time {
        gap: 10px;
    }
    
    #clock {
        font-size: 100px;
    }
    
    #month {
        font-size: 35px;
        padding-bottom: 10px;
    }
    
    #time-right {
        line-height: 22px;
        font-size: 20px;
        font-family: "Bodoni Moda", serif;
    }
}

@media screen and (min-width: 1250px) {
    #bg-image {
        background: url(../images/heaven3.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}