@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');


#bg-image {
    background: url(../images/heaven-small.webp);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    z-index: -2;

    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    opacity: 60%;
}

#hero {
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5%;
    position: relative;

    margin-bottom: 300px;
}

#hero-content {
    font-family: "Tulpen One", sans-serif;
    display: flex;
    flex-direction: column;
}


#time {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 20vw;
    height: 10vh;
    margin-left: 50vw;
    font-family: "Bodoni Moda", serif;
    transform: translateY(-50px);
}

#clock {
    font-size: 70px;
    font-family: "Pinyon Script", cursive;
}

#month {
    font-size: 25px;
    padding-bottom: 4px;
}

#time-right {
    line-height: 18px;
    font-family: "Bodoni Moda", serif;
}

#creative {
    font-size: 25px;
    font-family: "Bodoni Moda", serif;
    color: #edd5c2;
    transform: translateY(-30px);
}
#designer {
    font-size: 80px;
    display: flex;
    flex-direction: row;
    margin-top: -60px;
    transform: translateY(-30px);
    font-family: "Six Caps", sans-serif;
    
    p { font-size: 30px;
        align-self: flex-end;
        font-family: "Bodoni Moda", serif;
        transform: translate(10px, -50px);
    }
}



#developer {
    font-size: 80px;
    margin-top: -130px;
    transform: translateY(-10px);
    font-family: "Six Caps", sans-serif;
}



#hero-about {
    font-family: "Bodoni Moda", serif;
    width: 60vw;
    max-width: 500px;
    position: absolute;
    top: 80%;
    right: 10%;
    margin-top: -30px;
    text-indent: 15vw;
    p { font-family: "Bodoni Moda", serif;
        text-transform: uppercase; }
}

#hero-image-div {
    width: 30vw;
    img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 500px) {
    #designer {
        font-size: 60px;
        margin-top: -50px;
        p { transform: translate(5px, -30px);
            font-size: 24px;
        }
    }
    #developer {
        font-size: 60px;
        margin-top: -100px;
    }
    #time {
        margin-left: 40vw;
    }
    #hero-about {
        width: 70vw;
        margin-top: -60px;
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    #designer {
        font-size: 50px;
        margin-top: -40px;
        p { transform: translate(5px, -25px);
            font-size: 20px;
        }
    }
    #developer {
        font-size: 50px;
        margin-top: -85px;
    }
    #clock {
        font-size: 50px;
    }
    #time-right {
        font-size: 14px;
    }
    #month {
        font-size: 24px;
    }
    #hero-about {
        width: 70vw;
        margin-top: -70px;
        font-size: 14px;
    }
}


@media screen and (min-width: 800px) {
    #designer {
        font-size: 90px;
        margin-top: -70px;
    }
    #developer {
        font-size: 90px;
        margin-top: -140px;
    }
    #hero-about {
        font-size: 20px;
    }
    
    #clock {
        font-size: 50px;
    }
    
    #month {
        font-size: 35px;
        padding-bottom: 10px;
    }
    
    #time-right {
        line-height: 22px;
        font-size: 20px;
        font-family: "Bodoni Moda", serif;
    }
}

@media screen and (min-width: 1250px) {
    #bg-image {
        background: url(../images/heaven-big.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}