#gameContainer {
    text-align: center;
    margin-top: 100px;
    height: 95vh;
    position: relative;
    display: none;
}
#scoreText {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    color: black;
    user-select: none;
}
#resetBtn, #startBtn{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    cursor: pointer;
    margin: auto;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.3);
}

#resetBtn {
    border: 4px solid rgba(0, 0, 0, 0.5);
    background-color: white;
    color: black;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    


/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    display: flex;
    align-items: flex-start;
    aspect-ratio: 1;
  }
  .loader:before,
  .loader:after {
    content: "";
    flex: 1;
    aspect-ratio: 1;
    --g: conic-gradient(from -90deg at 10px 10px,#fff 90deg,#0000 0);
    background: var(--g), var(--g), var(--g);
    filter: drop-shadow(30px 30px 0 #fff);
    animation: l20 1s infinite;
  }
  .loader:after {
    transform: scaleX(-1);
  }
  @keyframes l20 {
     0%   {background-position:0     0, 10px 10px, 20px 20px}
     33%  {background-position:10px  10px}
     66%  {background-position:0    20px,10px 10px,20px 0   }
     100% {background-position:0     0, 10px 10px, 20px 20px}
  }