* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    background-color: black;
    overflow-x: hidden;
    width: 100vw;
}

#cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 1000;
    display: none;
}


.floating {
    animation: floating 4s ease-in-out infinite;
}

@keyframes floating {
    0%{ transform: translateY(0); }
    50%{ transform: translateY(-15px); }
    100%{ transform: translateY(0px); }
}